html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

form div.required label.control-label:after {
    content:" * ";
    color:red;
}


/*-------------------Relatório--------------------*/
/* Fonte para as tags table */
table{
    font-family: Serif;
    width: 100%;
}

/* TABELA DO CABECALHO*/
.cabecalho{
    background-color: #ffffff;
    color: #000000;
}


/* TABELA DE DADOS */
.tableDados{
    border: 1px solid black;
}
.thDados{
    background-color: #005983;
    color: #ffffff;
}
table, th, td {
    text-align: center;
    font-size: 12;
}

th{
    color: #ffffff;
}
/* Estilização para tag h2 */
h2{
    color: #005983;
    font-family: Serif;
    font-size: 18;
}
p{
    font-family: Serif;
    color: #000000;
}

/* Classe coloca a cor de fundo para zebrar as linhas */
.zebra{
    background: #d0e3f0;
}

/* Classe para destacar o conteúdo da coluna */
.destaque{
    color: red;
    font-weight: bold;
}

hr{
    align: center;
    color:#000000;
}

/* User name [optional] */
.lockscreen-name {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.input-group-mod {

    display: block;
    width: 219px;
    height: 35px;
}

.input-group-btn-mod {
    position: absolute;
    top: 6px;
    left: 258px;
    font-size: 0;
    white-space: nowrap;
}
#teste{
    position: relative;
    top: 36px;
    left: 0px;
}